// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #47bbb3;
$value-color:       #fff;
 
$title-color:       rgba(255, 255, 255, 0.7);;
$moreinfo-color:    rgba(255, 255, 255, 0.7);;
 
// ----------------------------------------------------------------------------
// Widget-weather styles
// ----------------------------------------------------------------------------
.widget-news {

  background-color: $background-color;

  .headline-container {
    display: none;
  }

  .headline .left {
  	float: left;
  }

  .headline .right {
  	float: right;
  }

  .description {
  	font-size: 0.6em;
  }

  .heading{
  	font-size: 1.2em;
  }

}