// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #F0F8FF;
$value-color:       #fff;
 
$text-color:       rgba(0, 0, 0, 1);;
$moreinfo-color:    rgba(255, 255, 255, 0.7);;
 
// ----------------------------------------------------------------------------
// Widget-weather styles
// ----------------------------------------------------------------------------
.widget-news {

  background-color: $background-color;
  vertical-align: baseline !important;

  .headline-container {
    display: none;
  }
  .title {
    color: $text-color;
  }
  .heading span {
    color: black;
  }

  .heading img {
    margin-top: -5px;
  }

  .description {
  	font-size: 0.8em;
    color: $text-color;
  }

  .heading{
  	font-size: 1.2em;
    padding: 20px;
  }

}