<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":1,"row":3},{"col":3,"row":2},{"col":2,"row":2},{"col":1,"row":1},{"col":3,"row":1},{"col":1,"row":2}]')
});
</script>

<% content_for(:title) { "Customer Managment & Corporate" } %>
<div class="gridster">
  <ul> 
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="godashboard"  data-title="GoDash" style="background-color:#261144; height: 250px; padding: 55px 5px;">
        <iframe src="http://godashboard.laterooms.com/?profileName=TeamBeast"></iframe> 
      </div>
    </li>
    <li class="flips" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div class="hidden" data-id="weather" data-view="Weather"></div>
        <div data-id="news" data-view="News">hello</div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" data-moreinfo="Tweets tagged with #lrteambeast"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

     <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="broken_builds_push" data-view="Builds" data-unordered="true" data-title="Broken Builds"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="buidling_builds_push" data-view="Builds" data-unordered="true" data-title="Running Builds"></div>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cycletime" data-view="Cycletime" data-title="Cycle Time" ></div>
    </li>

  </ul>
</div>

<script src="lib/jquery-ui-1.10.2.custom.min.js"></script>
<script src="lib/jquery.flip.min.js"></script>
<script src="src/IntervalTimer.js"></script>
<script src="src/beast-flipCell.js"></script>
<script src="src/Page.js"></script>
<script src="src/KeepAlive.js"></script>
<script src="src/JsonpRequest.js"></script>
<script src="src/ServiceLayer.js"></script>
<script>
  (function($){ 
    $(document).ready(function(){
      var serviceLayer = new ServiceLayer(new JsonpRequestFactory());
      new KeepAlive({ 
        page: new Page(), 
        timeInterval: 600000,
        serviceLayer : serviceLayer
      });
      $('.flips').flipCell({
        interval : 10000, 
        direction: 'lr'
      }); 
    });
  })(jQuery);
</script>



