<% content_for(:title) { "Customer Managment & Corporate" } %>

<div class="gridster">
  <ul> 
     <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="build_status" data-view="Brokenbuilds" data-unordered="true" data-title="Build Status"></div>
    </li>


    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="cycletime" data-view="Cycletime" data-title="Cycle Time" ></div>
    </li>

    <li class="flips" data-row="1" data-col="4" data-sizex="1" data-sizey="1">
        <div class="hidden" data-id="weather" data-view="Weather"></div>
        <div data-view="Clock"></div>
    </li>

    <li  data-row="2" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="news" data-view="News"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="performance" data-view="Performancecounter" data-title="Performance Counter (WIP)" ></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" data-moreinfo="Tweets tagged with #lrteambeast"></div>
      <i class="icon-twitter icon-background"></i>
    </li>   
  </ul>
    <img id="jimmys" src="images/now-then.png"/ style="position:absolute">
  <marquee direction="right">
    <img width="200" height="200" src="http://i292.photobucket.com/albums/mm34/mel120950/movies/jimmy-saville-disco4.gif"/>
  </marquee>
</div>

<style>
  #jimmys{
    z-index:100;
    top:1500px;
    left:250px;
  }
</style>
<script>
var showBill = function(){
  $("#jimmys").animate({top: '-=1500px' },15000,function(){
     $("#jimmys").animate({top: '+=1500px' },15000);
  });
  };

  $(document).ready(function(){
    window.setInterval(showBill,120000);
  });


</script>

<script src="lib/jquery-ui-1.10.2.custom.min.js"></script>
<script src="lib/Handlebars.js"></script>
<script src="lib/jquery.flip.min.js"></script>
<script src="src/IntervalTimer.js"></script>
<script src="src/Builds.js"></script>
<script src="src/OrderPipelines.js"></script>
<script src="src/beast-flipCell.js"></script>
<script src="src/Page.js"></script>
<script src="src/KeepAlive.js"></script>
<script src="src/JsonpRequest.js"></script>
<script src="src/ServiceLayer.js"></script>
<script src="src/RickShawWrapper.js"></script>
<script src="src/CycleTimeGraph.js"></script>
<script>
  (function($){ 
    $(document).ready(function(){
      var serviceLayer = new ServiceLayer(new JsonpRequestFactory());
      new KeepAlive({ 
        page: new Page(), 
        timeInterval: 600000,
        serviceLayer : serviceLayer
      });
      $('.flips').flipCell({
        interval : 10000, 
        direction: 'lr'
      }); 
    });
  })(jQuery);
</script>



