<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":1,"row":1},{"col":5,"row":1},{"col":6,"row":3},{"col":1,"row":2},{"col":6,"row":2},{"col":6,"row":1}]')
});
</script>
<% content_for(:title) { "Customer Managment & Corporate" } %>
<div class="gridster">
  <ul> 
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="godashboard"  data-title="GoDash" style="background-color:#ff9618; height: 250px; padding: 55px 5px;">
        <iframe src="http://godashboard.laterooms.com/?profileName=TeamBeast"></iframe> 
      </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="Team Beast" data-moreinfo="Where is Seb????"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="godashboard"  data-title="GoDash" style="background-color:#ff9618; height: 580px; padding: 5px">
        <iframe src="http://xml.laterooms.com/admin/bb.php"></iframe> 
      </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="5" data-sizey="1">
      <div data-id="godashboard"  data-title="GoDash" style="background-color:#96bf48; height: 950px; padding: 5px">
        <iframe src="http://monitoring.laterooms.com/wallboards/it/"></iframe> 
      </div>
    </li>

    <li class="flips" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div class="hidden" data-id="weather" data-view="Weather"></div>
        <div data-id="news" data-view="News" style="background-color:#ff9618;">hello</div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets tagged with #lrteambeast"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
  </ul>
</div>

<script src="lib/jquery-ui-1.10.2.custom.min.js"></script>
<script src="lib/jquery.flip.min.js"></script>
<script src="src/IntervalTimer.js"></script>
<script src="src/beast-flipCell.js"></script>
<script>
  (function($){   
    $('.flips').flipCell({
      interval : 10000, 
      direction: 'lr'
    }); 
  })(jQuery);
</script>




