// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$broken:            #DF0101;
$passed:            #4AA02C;
$building:          #FF3800;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 1);
$label-color:       rgba(255, 255, 255, 1);
$moreinfo-color:    rgba(255, 255, 255, 1);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------



.widget-brokenbuilds {        
  vertical-align: baseline !important;

  .title {    
    color: $title-color;
  }

  ol, ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 5px;
  }

  .list-nostyle {
    list-style: none;
  }

  .label {
    color: $label-color;
  }

  .value {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: $value-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .more-info {
    color: $moreinfo-color;
  }

}

  .build_status{
    background-color: $broken;
  }

  .builds-passed {
    background-color: $passed;
  }

  .buidling_builds_push{
    background-color: $building;
  }

.previous-Success {
  background-color: green;
  padding: 2px;
  border: 1px;
  border-style: solid;
  border-color: black;
}

